/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require jqcloud
*= require jquery.fileupload-ui
*= require dataTables/jquery.dataTables.bootstrap
*= require_tree .
*/

.bubbleInfo {
    position: relative;
    top: 150px;
    left: 100px;
    width: 500px;
}


.trigger {
    position: absolute;
}

.popup {
    position: absolute;
    display: none;
    z-index: 50;
    border-collapse: collapse;
    font-size: .8em;
}

.popup td.corner {
    height: 15px;
    width: 19px;
}

.popup td#topleft {
    background-image: url(bubble-1.png);
}

.popup td.top {
    background-image: url(bubble-2.png);
}

.popup td#topright {
    background-image: url(bubble-3.png);
}

.popup td.left {
    background-image: url(bubble-4.png);
}

.popup td.right {
    background-image: url(bubble-5.png);
}

.popup td#bottomleft {
    background-image: url(bubble-6.png);
}

.popup td.bottom {
    background-image: url(bubble-7.png);
    text-align: center;
}

.popup td.bottom img {
    display: block;
    margin: 0 auto;
}

.popup td#bottomright {
    background-image: url(bubble-8.png);
}

